body {
    font-family: "Roboto", sans-serif ;
    color: #434455;
    background-color: white;
    font-weight: 400;font-size: 16px;line-height: 150%;letter-spacing: 0.02em;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
 button { 
    cursor: pointer;
 }
/* #region Header */

.header {
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.logo-span {
    color: #2E2F42;
}
.nav {
}
.menu {
}

.menu-item {
    
}
.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    
}

.menu-link:hover, .menu-link:focus, .menu-link:active {
  color: #404BBF;  
}

.adress { font-style: normal;
}
.adress-menu {
}
.adress-menu-item {
}
.adress-menu-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: currentColor;
}

.adress-menu-link:hover, .adress-menu-link:focus, .adress-menu-link:active {
    color: #404BBF;

}
/* #endregion Header */

/* #region Hero section */

.hero {
    background-color: #2e2f42;
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}
.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
}
 .hero-button:hover, .hero-button:focus {
background-color: #404BBF;    
color:#FFFFFF;
 }
/* #endregion Hero section */

/* #region Section 1 */
.benefits-section {
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}
.benefits-list {
}
.benefits-item {
}
.item-title { 
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
 .benefits-p {
    
 }
/* #endregion Section 1 */

/* #region Section 2 */
.team-section { 
    background-color: #f4f4fd;
}

.section-title { 
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
}
.team-list {
}
.team-list-item {
    background-color: #FFFFFF;
}
.item-title {
}
.team-p {
    font-size: 16px;
}

/* #endregion Section 2 */

/* #region Section 3 */
.portfolio-section {
}
.section-title {
}
.portfolio-list {
}
.portfolio-list-item {
}
.item-title {
}
/* #region Section 3 */

/* #region Footer */
.footer {
    background-color: #2E2F42;
}
.logo {
    font-family: "Raleway", sans-serif;
}
.footer-logo-span {color: #f4f4fd;
}
.footer-p { 
    color: #f4f4fd;
}

/* #endregion Footer */